html{
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(#03a, #0a3);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ff0;
	font-family: 'Ubuntu', sans-serif;
}

.main-nav-div {
	position: fixed;
	z-index: 100;
	background-color: #0a3;
	height: 55px;
	top: 0px;
	width: 100%;
	/*
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	*/
}

.nav-div-1, .nav-div-2 {
	position: absolute;
}

.nav-a{
	margin-top: -5px;
	display: flex;
	padding: 6px;
	transform: scale(1);
	transition: .325s;
}


.nav-div-1 {
	left: 50%;
	transform: translateX(-50%);
}

.nav-div-2 {
	right: 30px;
	width: 300px;
	height: 50px;
	top: 2px;
}

.nav-ul, .nav-ul-2 {
	list-style: none;
	padding: 0px;
	margin: 14px 0 14px 0;
}

.nav-ul{
	display: flex;
	margin: 12px 0 8px 0;
}

.nav-ul-2{
	display: flex;
}

.nav-li{
	padding: 2px 8px 2px 8px; 
}

.profile{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #af0;
	border: 2px solid #af0;
	border-radius: 20px;
	padding: 8px;
	background-color: #0a3;
	transition: .5s;
}


.nav-a, .nav-login-register{
	text-decoration: none;
	color: #af0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: normal;
	border-radius: 10px;
	background-color: #0a3;
	padding: 6px;
	transition: .325s;
}


.nav-login-register{
	color: #af0;
	border: 2px solid #af0;
	border-radius: 20px;
	padding: 8px;
	background-color: #0a3;
	transition: .5s;
}

.nav-logout{
	text-decoration: none;
	color: #af0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: normal;
	border-radius: 20px;
	display: none;
	border: 2px solid #af0;
	background-color: #0a3;
	padding: 8px;
	transition: .5s;
}

.login-div {
	position: relative;
	left: 50%;
	/*box-shadow: 50px 50px #00aa30;*/
	top: 100px;
	border-radius: 20px;
	transform: translateX(-50%);
	width: 450px;
	height: max-content;
	background-color: #00FF80;
	padding: 20px;
    box-shadow: 0 0 10px #00ff80;
}

.login-form{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
	height: max-content;
	width: 260px;
	color: #008020;
	font-size: 18px;
}

.login-div-2 {
	position: relative;
	left: 50%;
	top: 100px;
	border-radius: 20px;
	transform: translateX(-50%);
	width: 450px;
	height: max-content;
	background-color: #00FF80;
	padding: 20px;
    box-shadow: 0 0 10px #00ff80;
}

::placeholder{
	color: #99ff66;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}


.login-form-2{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	margin-right: 20%;
	height: max-content;
	width: 260px;
	color: #008020;
	font-size: 18px;
}

.register-a{
	text-decoration: none;
	color: #008020;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 44px;
	margin-right: 44px;
	display: flex;
	font-size: 18px;
	width: 172px;
}


.login-input {
	border-radius: 10px;
	height: 30px;
	border: 3px solid #00aa50;
	background-color: #00aa50;
	color: #99ff66;
	width: 250px;
	font-size: 15px;
	text-align: center;
}

#fname-label, #lname-label, #email-label, #password-label, #username-label, #password-label2{
	display: block;
	text-align: center;
}

.forgot-password{
	text-align:center;
	cursor:pointer;
	text-decoration: none;
	color: #008020;
	margin-left: 36px;
	margin-right: 34px;
}


.login-button, .login-button-3, .login-button-4{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid #080;
	background-color: #40ff40;
	color: #080;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

.login-button-3{
	margin-left: 0px;
	margin-right: 0px;
}

.login-button-4{
	margin-left: 3px;
	margin-right: 0px;
}

.login-button-2{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 13px;
	margin-right: 13px;
	padding: 8px;
	border-radius: 10px;
	border: 2px solid #080;
	background-color: #40ff40;
	color: #080;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}


.p1{
	z-index: 5;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #AF3232;
}

.p2{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #009B00;
	background-color: #4B0000;
}

.p3{
	font-size: 20px;
	display: block;
	text-align: center;
	color: #960000;
	background-color: #FF9664;
	padding: 8px;
	box-shadow: 0 0 10px #960000;
	border-radius: 10px;
	border: 2px solid #960000;
	transition: .5s;
	font-weight: bold;
}

.p4 {
	display: none;
	text-align: justify;
	background-color: #00aa50;
	padding: 6px;
	font-weight: normal;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 10px;
	color: #99ff66;
}




.requirement{
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 49px;
	margin-right: 49px;
	padding: 8px;
	border-radius: 10px;
	border: 3px solid #ff0;
	background-color: #32C832;
	color: #ff0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

.b1{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #AF3232;
}



.b2{
	display: block;
	text-align: center;
	font-size: 20px;
	width: max-content;
	margin: auto;
	height: max-content;
	background-color: #40FF40;
	color: #080;
	box-shadow: 0 0 10px #080;
	padding: 10px;
	border: #080 solid 2px;
	border-radius: 10px;
	justify-content: center;
}


.hamburger{
	width: 35px;
	height: 40px;
	position: fixed;
	top: 8px;
	left: 15px;
	z-index: 20;
}

.responsive-nav{
	display: none;
	
}

.responsive-nav-div{
	z-index: 20;
	top: 55px;
	position: fixed;
	left: -100%;
	width: 100%;
	background-color: #0a3;
	transition: .215s;
}

.requirement-button{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 49px;
	margin-right: 50px;
	display: none;
	padding: 8px;
	border-radius: 10px;
	width: max-content;
	border: 2px solid #080;
	background-color: #40ff40;
	color: #080;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

.responsive-nav-a, .responsive-nav-login-register {
	display: flex;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: #ff0;
	background-color: #0a3;
	font-weight: normal;
	padding: 10px 0 10px 0;
	text-align: center;
	justify-content: center;
	transition: .75s;
}

.responsive-nav-li {
	list-style-type: none;
	transition: .325s;
	padding-bottom: 10px;
}


.responsive-nav-ul{
	display: block;
	padding-left: 0px;
}



.my-slides {
	display: none;
	transition: .5s;
}

.slideshow-container {
	width: 50%;
	position: relative;
	height: max-content;
	top: 50px;
	margin: auto;
	border-radius: 20px;
}

.main-slideShow-div{
	margin-top: 20px;
}

.slider-div, .slideshow-container{
	background-image: linear-gradient(to right,#006A4E,#004953,#006A4E);
	padding: 5px 10px 5px 10px;
}

.slider-div{
	border-radius: 20px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 60px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s;
	/*background-color: #ffc;*/
	opacity: 0.85;
	border: 1px solid #40FF00;
	border-radius: 50%;
	transform: translateY(-50%);
}

.next{
	right: -62px;
	margin-top: -22px;
}

.prev{
	left: -62px;
	margin-top: -22px;
}




.pic{
	height: 500px;
	position: relative;
	width: 100%;
	border-radius: 20px 20px 20px 20px;
}

#pic2{
	height: 500px;
	position: relative;
	border-radius: 20px;
}

.line {
	cursor: pointer;
	height: 30px;
	width: 30px;
	background-color: #0a3;
	border-radius: 50%;
	margin: 15px 5px;
	display: inline-block;
	transition: background-color 0.6s ease;
}


/*
.light-green-lines{
	background-color: #af9;
}

.green-lines{
	background-color: #0a3;
	transition: .6s;
}
*/
.pic2{
	width: 120px;
	border-radius: 15px;
	margin: 0 5px 0 5px;
	transition: .325s;
	opacity: 0.50;
}


.pic2-opacity-1{
	opacity: 1;
	box-shadow: 0 0 10px #39FF14;
}

.pic2-opacity-50{
	opacity: 0.50;
	/*box-shadow: 0 0 0px #af9;*/
	box-shadow: 0 0 0px #39FF14;
}

.img1{
	width: 400px;
	height: 275px;
	border-radius: 0px 0px 20px 20px;
	transition: .5s;
	cursor: pointer;
	/*opacity: 0.90;
	filter: grayscale(0%);*/
}


.pet{
	float: left;
	padding: 35px 0px 0px 0px;
	background-color: #00a86b;
	border-radius: 25px;
	margin: 20px;
	height: 373px;
	width: 400px;
	opacity: 1;
	box-shadow: 0 0 10px #00a86b;
}

.pet-advertisement-caption, .pet-advertisement
{
	color: #B2FFFF;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	overflow: auto;
}


.pet-advertisement{
	height: 85px;
}


.pet-caption
{
	font-weight: bold;
	font-size: 25px;
	color: #a0ffa5;
	text-align: center;
}

.pet-caption-div
{
	margin: 30px auto 0px auto;
	background-color: #0c4;
	width: 650px;
	padding: 10px;
	border-radius: 0px;
	border-left: 20px solid #a0ffa5;
	box-shadow: 0 0 0px 0 #0c4;
	position:relative;
}


.advertisement-main-div{
	display: inline-block;
	margin: 0;
	height: 50px;
	top:20px;
	left: 50%;
	position: relative;
	width: max-content;
	transform: translateX(-50%);
}

.search-div{
	position:fixed;
	left: 50%;
	background-color: #0a5;
	z-index: 15;
	top: 100px;
	height: 25px;
	padding: 5px 0 5px 13px;
	transform: translateX(-50%);
	margin-top: -30px;
	border-radius: 50px;
	width: 300px;
	box-shadow: 5px 5px 10px 0px #061;
}

.search-button{
	width:max-content;
	padding: 7px 5px 7px 2px;
	text-align: center;
	/*border-left: 3px solid #ff0;*/
	height:max-content; 
	color: #0a5;
	font-size: 18px;
	top: -5px;
	border-radius: 0px 50px 50px 0px;
	position: relative;
	background-color: #af0;
	transition: .325s;
}

@supports (-moz-appearance:none)
{
	.search-button
	{
		padding: 12px 12px 12px 2px;
	}
}




.searchForm{
	height: max-content;
}

.margin{
	position: relative;
	background-color:#fff;
	width: 50px;
	transform: translateX(-50%);
	left: 50%;
	opacity: 0%;
	z-index: 50;
	margin-bottom:100px;
	height: 50px;
}

#search{
	height: 30px;
	border-radius: 10px;
	border: 0px solid #aff;
	position: relative;
	background-color: #0a5;
	color: #aff;
	text-align: center;
	top: -5px;
	width: 219px;
	font-size: 18px;
}

.btn1{
	background-color: #0a5;
	border: 0px;
	padding: 0px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0px;
	position: relative;
}

.search-lbl{
	text-align: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #aff;
	position: relative;
	top: -15px;
	display: none;
}

.counter{
	width: max-content;
	height: max-content;
	padding: 20px;
	top: -95px;
	margin: 0;
	position: fixed;
	justify-content: center;
	color: #ff0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	left: 50%;
	font-weight:normal;
	border-left: 10px solid #af0;
	transform: translateX(-50%);
	border-radius: 0 0px 0px 0; 
	background-color: #0a5;
}

#arrow{
	position: absolute;
	top: -100%;
	transition: .325s;
}

.bottom-arrow{
	position: fixed;
	right: 50px;
	background-color: #00755E;
	padding: 10px;
	border-bottom: 10px solid #ff0;
	bottom: 10px;
	box-sizing: border-box;
	z-index: 100;
	transition: .325s;
	margin: 0;
}



.arrow-shape{
	width: 5px;
	height:20px;
	background-color: #ff0;
	margin: auto;
	transition: .325s;
}

.arrow-top{
	width:1px;
	height: 1px;
	border-top: 0px solid transparent;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:20px solid #ff0;
	border-radius: 20px;
	background-color: transparent;
	transition: .325s;
}



.pet-description{
	float: left;
	padding: 50px 25px 50px 25px;
	border-radius: 20px;
	background-color: #00a86b;
}

.pet-description-caption{
	float: left;
	display: flex;
} 

.pet-description-main-div{
	width: max-content;
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
	
}

.img2{
	width: 600px;
	height:400px;
	border-radius:0 20px 20px 0;
	margin-right: 50px;
}

.cbox1{
	display: none;
}

.caption{
	display: block;
	margin: auto;
	font-size: 18px;
	width: max-content;
	color: #B2FFFF;
}

.cbox1-div{
	width: 45px;
	height: 25px;
	border-radius: 20px;
	position: relative;
	transition: .5s;
	background-color: #0077c0;
	margin: 0px;
	padding: 0px;
}


.cbox-status{
	position: relative;
	top: -23px;
	left: 75px;
}

.slider1{
	width: 25px;
	height: 25px;
	background-color: #99FFFF;
	margin-left: 0%;
	transition: .3s;
	position: relative;
	left: -1px;
	border-radius: 50%;
}
/*
.slider-dot{
	background-color: #E9967A;
	width: 8px;
	border-radius: 20px;
	margin: 0px;
	height: 5px;
	position: relative;
	left: 55%;
	top: 40%;
}*/

.star-img{
	width: 45px;
	position: relative;
	top: -370px;
	right: -330px;
	transition: .325s;
}

.main-link-div{
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	width: max-content;
	height: max-content;
}

.success{
	padding: 30px;
	box-shadow: 0 0 10px 5px #40FF40;
	background-color:#080;
	color: #40FF40;
	text-shadow: 0 0 10px #0f0;
	border-radius: 10px;
	border: #40FF40 solid 2px;
	width: max-content;
	text-align: center;
	font-size: 40px;
}

.back-to-home{
	padding: 20px;
	box-shadow: 0 0 10px 5px #40FF40;
	background-color:#080;
	position: absolute;
	color: #40FF40;
	top: -50%;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 0 0 10px #0f0;
	border-radius: 10px;
	text-decoration: none;
	border: #40FF40 solid 2px;
	width: max-content;
	text-align: center;
	font-size: 20px;
	transition: .325s;
}


.logout-button{
	width: 110%;
	height: 40px;
	border-radius: 0 0 10px 10px;
	border: 2px solid #960000;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 4px;
	color: #960000;
	background-color: #FF9664;
	transition: .325s;
	margin-bottom: -20px;
	box-shadow: 0 0 3px #960000;
}

.logged-in-as{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

.input-fields{
	display: block;
}

.profile-div{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 15px;
	top: 50%;
	background-color: #00a86b;
	border-radius: 20px;
	box-shadow: 0 0 10px #00a86b;
}

.user-profile{
	font-family: 'Ubuntu', sans-serif;
	background-color: #00a86b;
	font-size: 19px;
	color: #B2FFFF;
}

.sp1{
	text-align: center;
	display: block;
	color: #B2ffff;
	padding: 15px;
	border-radius: 10px;
	background-color: #004F98;
	border: 2px solid #B2FFFF;
}








.logout-button:hover{
	color: #ff9664;
	background-color: #960000;
	border: 2px solid #ff9664;
	transition: .325s;
	box-shadow: 0 0 3px #ff9664;
}

.back-to-home:hover{
	border: #080 solid 2px;
	color: #080;
	background-color:#40FF40;
	text-shadow: 0 0 10px #080;
	box-shadow: 0 0 10px 5px #080;
	transition: .325s;
}


.star-img:hover{
	transform: scale(1.3);
	transition: .325s;
}


.search-button:hover{
	background-color: #ff0;
	color: #080;
	transition: .325s;
	box-shadow: 0 0 10px 0px #ff0;
}

.pic2:hover{
	opacity: 1;
	transition: .325s;
	box-shadow: 0 0 10px #39FF14;
}

.responsive-nav:checked ~ .responsive-nav-div{
	left: 0px;
	transition: .215s;
}


.requirement:checked ~ .p4{
	display: block;
}

 .line:hover{
	background-color: #af9;
	transition: .6s;
	box-shadow: 0px 0px 10px 2px #af9;
}


.bottom-arrow:hover{
	border-bottom: 0px solid #ff0;
	border-top: 10px solid #ff0;
	transition: .325s;
	box-shadow: 0 0 10px 0 #ff3;
}

.cbox1-div:hover{
	box-shadow: 0 0 10px #99FFFF;
}


.nav-a:hover, .responsive-nav-a:hover, .responsive-nav-login-register:hover{
	color: #0aa;
	transform: scale(1.15);
	transition: .325s;
	border-radius: 10px;
	background-color: #af0;
	box-shadow: 0px 0px 10px 2px #af0;
}

.responsive-nav-a:hover{
	transform: scale(1.3);
}


.nav-login-register:hover, .nav-logout:hover, .profile:hover{
	color: #0aa;
	border: 2px solid #af0;
	border-radius: 20px;
	padding: 8px;
	background-color: #af0;
	transition: .325s;
	box-shadow: 0px 0px 10px 2px #af0;
}

.login-button:hover, .login-button-2:hover, .requirement:hover, .requirement-button:hover, .login-button-3:hover, .login-button-4:hover{
	color: #40ff40;
	background: #080;
	box-shadow: 0 0 10px 2px #080;
	transition: .325s;
	transform: scale(1.125);
}

.prev:hover, .next:hover {
	border-radius: 50%;
	border: 1px solid #39FF14;
	/*background-color: #01796F;*/
	box-shadow: 0px 0px 10px 3px #39FF14;
}

.img1:hover{
	transform: scale(1.05);
	transition: .5s;
	opacity: 1;
	filter: grayscale(0%);
	/*filter: hue-rotate(90deg);*/
	filter: contrast(120%);
	box-shadow: 0px 0px 10px 10px #00a86b;
	/*filter: blur(25px);*/
}



@media screen and (max-width: 1920px)
{
	.slideshow-container{
		width: 50%;
	}
	.hamburger{
		display: none;
	}
}

@media screen and (max-width: 1600px)
{
	.slideshow-container{
		width: 65%;
		height: 55%;
	}
}

@media screen and (max-width: 1300px)
{
	.slideshow-container{
		height: 40%;
	}
}

@media screen and (max-width: 1150px)
{
	.pic{
		height: 35%;
	}
}

@media screen and (max-width: 1000px){
	.pic{
		height: 350px;
		transition: .5s;
	}
	.slideshow-container{
		width: 60%;
	}
	.pet{
		margin-left: 0px;
		margin-right: 0px;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
	.advertisement-main-div{
		width: 500px;
	}
}


@media screen and (max-width: 870px){
	.nav-div-1, .nav-div-2{
		display: none;
	}
	.slideshow-container{
		width: 70%;
	}
	.pic{
		height: 25%;
	}
	.pet{
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}
}

@media screen and (min-width: 871px){
	.hamburger, .responsive-nav-div{
		display: none;
	}
}

@media screen and (max-width: 870px)
{
	.hamburger{
		z-index: 111;
		display: block;
	}
	.pet-caption-div{
		width: 450px;
	}
}

@media screen and (max-width: 750px){
	.pic{
		transition: .5s;
	}
	.pet-caption-div{
		width: 380px;
	}
}

@media screen and (max-width: 570px){
	.pic{
		height: 220px;
		transition: .5s;
	}
	.pet-caption-div{
		width: 300px;
	}
	.pet{
		left: 50%;
		transform: translateX(-50%);
	}
	.slideshow-container{
		width: 70%;
	}
}

@media screen and (max-width: 500px){
	.advertisement-main-div{
		width: 80%;
	}
	.pet{
		width: 95%;
	}
	.img1{
		width: 100%;
	}
	.pet-caption-div{
		width: 80%;
	}
	.slideshow-container{
		width: 85%;
	}
	.next{
		top: 300px;
		right: 15px;
	}
	.prev{
		top: 300px;
		left: 15px;
	}
}

@media screen and (max-width: 350px){
	.slideshow-container{
		width: 90%;
	}
	.img1{
		height: 50%;
	}
	.pet{
		height: max-content;
	}
	.pet-caption-div{
		width: 80%;
		transition: .325s;
	}
}
